.shop-area {
    padding: 70px 0;
}
.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 30px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}