.shop-area {
    padding: 70px 0;
}
.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 30px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.second-button {
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 4px;
    border: 0;
    background: #FF9900;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s all;
}
.second-button:hover {
    opacity: 0.7;
}
.button {
    text-decoration: none;
}