.cart-container {
    position: sticky;
    top: 50px;
}
.cart-wrapper {
    background: #FFE0B3;
    padding: 20px;
    border-radius: 8px;
}
.cart-container p {
    margin: 10px 0;
}
.grandTotal {
    display: inline-block;
    border-top: 1px solid lightsalmon;
    margin: 20px;
    padding-top: 10px;
}
.btn-group button {
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 4px;
    border: 0;
    background: #FF3030;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s all;
}
.btn-group button:hover {
    opacity: 0.7;
}