.review-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    margin-bottom: 25px;
    padding: 10px;
    align-items: center;
}
.item-wrap img {
    width: 110px;
    border-radius: 8px;
}
.item-wrap {
    display: flex;
    gap: 20px;
}
.item-info p span {
    color: #FF9900;
}
.remove-btn button {
    height: 60px;
    width: 60px;
    font-size: 26px;
    line-height: 60px;
    color: #EB5757;
    background: #F9CDCD;
    border-radius: 50%;
    border: transparent;
    cursor: pointer;
}
.remove-btn button:focus {
    background: #e49898
}