.product {
    /* width: 300px;
    height: 510px; */
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
    padding-bottom: 50px;
}
.product-thumb {
    margin: 7px;
}
.product img {
    max-width: 100%;
    /* width: 286px;
    height: 286px; */
    border-radius: 8px;
}

.product-name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
}
.product-info{
    margin-left: 14px;
}
.product-info p{
    margin-top: 5px;
}
.btn-cart{
    width: 100%;
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    font-size: 16px;
    padding: 8px 0;
}
.btn-cart:hover{
    background-color: orange;
}
.cart-icon {
    margin-left: 10px;
}